In [41]:
import numpy as np
import pandas as pd
import json

In [8]:
data = pd.read_parquet('data/ipums_full_count_nyc_census_coded_20210801.parquet')
data['SINCEIMMIG'] = data['YEAR'] - data['YRIMMIG']
data['AGEIMMIG'] = data['AGE'] - data['YEAR'] + data['YRIMMIG']
data

,YEAR,SERIAL,PERNUM,SEX,RACE,AGE,RELATE,MARST,FAMSIZE,BPL,...,OCC1950,OCCSCORE,PRESGL,IND1950,EMPSTAT,INCWAGE,OCC1950_CAT,IND1950_CAT,SINCEIMMIG,AGEIMMIG
0,1850,2044262,1,1,1,49,1,-1,1,36,...,290,42,50,836,-1,-1,3,12,1851,-1802
1,1850,2044263,1,2,1,36,1,-1,1,36,...,-1,-1,-1,-1,-1,-1,-1,-1,1851,-1815
2,1850,2044264,1,2,1,12,1,-1,1,36,...,-1,-1,-1,-1,-1,-1,-1,-1,1851,-1839
3,1850,2044265,1,1,1,40,1,-1,1,36,...,290,42,50,698,-1,-1,3,9,1851,-1811
4,1850,2044266,1,2,1,28,1,-1,1,36,...,-1,-1,-1,-1,-1,-1,-1,-1,1851,-1823
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31689545,1940,23712361,2,2,1,18,3,6,4,36,...,350,22,44,646,1,0,4,9,1941,-1923
31689546,1940,23712391,7,2,1,4,3,6,8,36,...,-1,-1,-1,-1,3,5001,-1,-1,1941,-1937
31689547,1940,23712428,7,1,1,18,3,6,7,36,...,750,25,19,679,1,1200,9,9,1941,-1923
31689548,1940,23712455,2,2,1,50,2,1,6,455,...,-1,-1,-1,-1,3,0,-1,-1,1941,-1891
31689549,1940,23712495,2,2,1,64,2,1,4,36,...,-1,-1,-1,-1,1,0,-1,-1,1941,-1877

In [10]:
var = pd.read_excel('data/Graphs, Variables, Features.xlsx')
var

,variable,bar,histogram,boxplot,scatterplot,line,line_count,area,filter
0,YEAR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SERIAL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,PERNUM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,SEX,Y,NaN,NaN,NaN,NaN,NaN,NaN,"YEAR, RACE, LIT, SCHOOL"
4,RACE,Y,NaN,NaN,NaN,NaN,NaN,NaN,"YEAR, SEX, NATIVITY, CITIZEN, LIT, SCHOOL"
5,HISPAN,Y,NaN,NaN,NaN,NaN,NaN,NaN,"YEAR, SEX, NATIVITY, CITIZEN, LIT, SCHOOL"
6,AGE,Y,NaN,Y,Y,Y,NaN,NaN,"YEAR, SEX, RACE"
7,RELATE,NaN,NaN,Y,NaN,NaN,NaN,NaN,NaN
8,MARST,Y,NaN,NaN,NaN,NaN,NaN,NaN,"YEAR, SEX, RACE, NATIVITY, CITIZEN"
9,FAMUNIT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,FAMSIZE,Y,NaN,Y,Y,Y,NaN,NaN,"YEAR, RACE, NATIVITY, CITIZEN"
11,BPL,Y,NaN,NaN,NaN,NaN,NaN,NaN,"YEAR, RACE"
12,MBPL,Y,NaN,NaN,NaN,NaN,NaN,NaN,"YEAR, RACE"
13,FBPL,Y,NaN,NaN,NaN,NaN,NaN,NaN,"YEAR, RACE"
14,NATIVITY,Y,NaN,NaN,NaN,NaN,NaN,NaN,"YEAR, SEX, RACE, LIT, SCHOOL, OCC1950, IND1950"
15,CITIZEN,Y,NaN,NaN,NaN,NaN,NaN,NaN,"YEAR, SEX, RACE, LIT, SCHOOL, OCC1950, IND1950"
16,SINCEIMMIG,Y,Y,Y,Y,Y,NaN,NaN,"YEAR, SEX, RACE, NATIVITY, CITIZEN, LIT, SCHOOL"
17,AGEIMMIG,Y,NaN,Y,Y,Y,NaN,NaN,"YEAR, SEX, RACE, NATIVITY, CITIZEN"
18,LIT,Y,NaN,NaN,NaN,NaN,NaN,NaN,"YEAR, SEX, RACE, MARST, NATIVITY, CITIZEN, SCH..."
19,SCHOOL,Y,NaN,NaN,NaN,NaN,NaN,NaN,"YEAR, SEX, RACE, MARST, NATIVITY, CITIZEN, LIT..."
20,EDSCOR50,NaN,Y,Y,Y,Y,NaN,NaN,"YEAR, SEX, RACE, NATIVITY, CITIZEN, LIT, SCHOO..."
21,OCC1950,Y,NaN,NaN,NaN,NaN,Y,Y,"YEAR, SEX, RACE, NATIVITY, CITIZEN, LIT, SCHOO..."
22,OCCSCORE,NaN,Y,Y,Y,Y,NaN,NaN,"YEAR, SEX, RACE, NATIVITY, CITIZEN, LIT, SCHOO..."
23,PRESGL,NaN,Y,Y,Y,Y,NaN,NaN,"YEAR, SEX, RACE, NATIVITY, CITIZEN, LIT, SCHOO..."
24,IND1950,Y,NaN,NaN,NaN,NaN,Y,Y,"YEAR, SEX, RACE, NATIVITY, CITIZEN, LIT, SCHOO..."
25,LABFORCE,Y,NaN,NaN,NaN,NaN,NaN,NaN,"YEAR, SEX, RACE, NATIVITY, CITIZEN, LIT, SCHOO..."
26,EMPSTAT,Y,NaN,NaN,NaN,NaN,NaN,NaN,"YEAR, SEX, RACE, NATIVITY, CITIZEN, LIT, SCHOO..."
27,INCWAGE,NaN,Y,Y,Y,Y,NaN,NaN,"YEAR, SEX, RACE, NATIVITY, CITIZEN, LIT, SCHOO..."

In [27]:
oov = []
for v in var.variable:
    if v not in data.columns:
        oov.append(v)
oov

['HISPAN', 'FAMUNIT', 'SCHOOL', 'LABFORCE']

In [35]:
oovr = []
for v in data.columns:
    if v not in var.variable.values:
        oovr.append(v)
oovr

['YRIMMIG', 'OCC1950_CAT', 'IND1950_CAT']

In [29]:
oovf = []
for fs in var['filter']:
    if pd.isna(fs):
        continue
    fs = [x.strip() for x in fs.split(',')]
    for f in fs:
        if f not in data.columns:
            oovf.append(f)
oovf = list(set(oovf))
oovf

['LABFORCE', 'SCHOOL']

In [39]:
variables = {}
for chart in var.columns[1:-1]:
    variables[chart] = []
    
    for i in range(len(var)):
        v, vbool = var.loc[i, 'variable'], var.loc[i, chart]
        if pd.isna(vbool):
            continue
        elif vbool == 'Y':
            variables[chart].append(v)
        else:
            raise KeyError
variables

{'bar': ['SEX',
  'RACE',
  'HISPAN',
  'AGE',
  'MARST',
  'FAMSIZE',
  'BPL',
  'MBPL',
  'FBPL',
  'NATIVITY',
  'CITIZEN',
  'SINCEIMMIG',
  'AGEIMMIG',
  'LIT',
  'SCHOOL',
  'OCC1950',
  'IND1950',
  'LABFORCE',
  'EMPSTAT'],
 'histogram': ['SINCEIMMIG', 'EDSCOR50', 'OCCSCORE', 'PRESGL', 'INCWAGE'],
 'boxplot': ['AGE',
  'RELATE',
  'FAMSIZE',
  'SINCEIMMIG',
  'AGEIMMIG',
  'EDSCOR50',
  'OCCSCORE',
  'PRESGL',
  'INCWAGE'],
 'scatterplot': ['AGE',
  'FAMSIZE',
  'SINCEIMMIG',
  'AGEIMMIG',
  'EDSCOR50',
  'OCCSCORE',
  'PRESGL',
  'INCWAGE'],
 'line': ['AGE',
  'FAMSIZE',
  'SINCEIMMIG',
  'AGEIMMIG',
  'EDSCOR50',
  'OCCSCORE',
  'PRESGL',
  'INCWAGE'],
 'line_count': ['OCC1950', 'IND1950'],
 'area': ['OCC1950', 'IND1950']}

In [40]:
filters = {}
for i in range(len(var)):
    v, fs = var.loc[i, 'variable'], var.loc[i, 'filter']
    if pd.isna(fs):
        fs = []
    else:
        fs = [x.strip() for x in fs.split(',')]
    filters[v] = fs
filters

{'YEAR': [],
 'SERIAL': [],
 'PERNUM': [],
 'SEX': ['YEAR', 'RACE', 'LIT', 'SCHOOL'],
 'RACE': ['YEAR', 'SEX', 'NATIVITY', 'CITIZEN', 'LIT', 'SCHOOL'],
 'HISPAN': ['YEAR', 'SEX', 'NATIVITY', 'CITIZEN', 'LIT', 'SCHOOL'],
 'AGE': ['YEAR', 'SEX', 'RACE'],
 'RELATE': [],
 'MARST': ['YEAR', 'SEX', 'RACE', 'NATIVITY', 'CITIZEN'],
 'FAMUNIT': [],
 'FAMSIZE': ['YEAR', 'RACE', 'NATIVITY', 'CITIZEN'],
 'BPL': ['YEAR', 'RACE'],
 'MBPL': ['YEAR', 'RACE'],
 'FBPL': ['YEAR', 'RACE'],
 'NATIVITY': ['YEAR', 'SEX', 'RACE', 'LIT', 'SCHOOL', 'OCC1950', 'IND1950'],
 'CITIZEN': ['YEAR', 'SEX', 'RACE', 'LIT', 'SCHOOL', 'OCC1950', 'IND1950'],
 'SINCEIMMIG': ['YEAR', 'SEX', 'RACE', 'NATIVITY', 'CITIZEN', 'LIT', 'SCHOOL'],
 'AGEIMMIG': ['YEAR', 'SEX', 'RACE', 'NATIVITY', 'CITIZEN'],
 'LIT': ['YEAR',
  'SEX',
  'RACE',
  'MARST',
  'NATIVITY',
  'CITIZEN',
  'SCHOOL',
  'OCC1950',
  'IND1950'],
 'SCHOOL': ['YEAR',
  'SEX',
  'RACE',
  'MARST',
  'NATIVITY',
  'CITIZEN',
  'LIT',
  'OCC1950',
  'IND1950'],
 'EDSCOR50': ['YEAR',
  'SEX',
  'RACE',
  'NATIVITY',
  'CITIZEN',
  'LIT',
  'SCHOOL',
  'OCC1950',
  'IND1950'],
 'OCC1950': ['YEAR',
  'SEX',
  'RACE',
  'NATIVITY',
  'CITIZEN',
  'LIT',
  'SCHOOL',
  'LABFORCE',
  'EMPSTAT'],
 'OCCSCORE': ['YEAR',
  'SEX',
  'RACE',
  'NATIVITY',
  'CITIZEN',
  'LIT',
  'SCHOOL',
  'LABFORCE',
  'EMPSTAT',
  'OCC1950',
  'IND1950'],
 'PRESGL': ['YEAR',
  'SEX',
  'RACE',
  'NATIVITY',
  'CITIZEN',
  'LIT',
  'SCHOOL',
  'LABFORCE',
  'EMPSTAT',
  'OCC1950',
  'IND1950'],
 'IND1950': ['YEAR',
  'SEX',
  'RACE',
  'NATIVITY',
  'CITIZEN',
  'LIT',
  'SCHOOL',
  'LABFORCE',
  'EMPSTAT'],
 'LABFORCE': ['YEAR',
  'SEX',
  'RACE',
  'NATIVITY',
  'CITIZEN',
  'LIT',
  'SCHOOL',
  'LABFORCE',
  'OCC1950',
  'IND1950'],
 'EMPSTAT': ['YEAR',
  'SEX',
  'RACE',
  'NATIVITY',
  'CITIZEN',
  'LIT',
  'SCHOOL',
  'EMPSTAT',
  'OCC1950',
  'IND1950'],
 'INCWAGE': ['YEAR',
  'SEX',
  'RACE',
  'NATIVITY',
  'CITIZEN',
  'LIT',
  'SCHOOL',
  'LABFORCE',
  'EMPSTAT',
  'OCC1950',
  'IND1950']}

In [31]:
with open('constrains.json', 'w') as f:
    json.dump(

Index(['bar', 'histogram', 'boxplot', 'scatterplot', 'line', 'line_count',
       'area'],
      dtype='object')